* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black ;
}

main, header, nav, article, div, section {
    border: 1px solid lightgrey;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #ffcc66;
    text-align: center;
    background-color: #339900; 
    padding: 5px;
    display: inline-block;
    width: 150px;
}

nav a:hover {
    background: #66cc00;
    color: #ff3300;
}

#aktiv {
    color: #ffff33;
    background: #66cc00;
}

#aktiv:hover {
    color: #ff3300;
    background: #66cc00;
}

article {   
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: start;
    gap: 10px;
    /*border: 10px;
    border-color: white;*/
}

article div {
    display: block;
    color:white;
    border: white 1px solid;
    /*border-width: 1px;
    border-style: ;
    border: 10px;
    border-color: white;*/
    width: 110px;
}

article div *{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;

    
}
p{
    text-align: center;
}

main h1 {
    padding: 10px;
    color: #339900;
}

img{
    margin: 5px;
    margin-top: 0px;
}
