* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

main,
header,
nav,
article,
div,
section {
  border: 1px solid lightgrey;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: #ffcc66;
  text-align: center;
  background-color: #339900;
  padding: 5px;
  display: inline-block;
  width: 150px;
}

nav a:hover {
  background: #66cc00;
  color: #ff3300;
}

#aktiv {
  color: #ffff33;
  background: #66cc00;
}

#aktiv:hover {
  color: #ff3300;
  background: #66cc00;
}

main h1 {
  padding: 10px;
  color: #339900;
}

article {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  justify-content: start;
}

article div {
  display: block;
  color: white;
  border: white 1px solid;
  width: 110px;
}

article div * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

p {
  text-align: center;
}

img {
  margin: 5px;
  margin-top: 0;
}

article div:nth-child(4) {
  grid-column: 1;
  grid-row: 1;
}
article div:nth-child(6) {
  grid-column: 2;
  grid-row: 1;
}

article div:nth-child(9) {
  grid-column: 3;
  grid-row: 2;
}
article div:nth-child(1) {
  grid-column: 6;
  grid-row: 2;
}
article div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

article div:nth-child(10) {
  grid-column: 1;
  grid-row: 3;
}

article div:nth-child(8) {
  grid-column: 4;
  grid-row: 4;
}
article div:nth-child(7) {
  grid-column: 3;
  grid-row: 4;
}
article div:nth-child(3) {
  grid-column: 1;
  grid-row: 4;
}
article div:nth-child(5) {
  grid-column: 2;
  grid-row: 4;
}
